<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
		<title>KYA</title>
		
		<!-- Google Fonts integration: http://www.google.com/fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
		
		<!-- Normalize to clean up & standardize the browser default styles: http://necolas.github.io/normalize.css -->
		<link rel="stylesheet" href="css/normalize.css">
		
		<!-- Custom CSS -->
		<link rel="stylesheet" href="../css/fonts.css">
		<link rel="stylesheet" href="../css/styles.css">
		<link rel="stylesheet" href="../css/parallax.css">
		<link rel="stylesheet" href="../css/aboutus.css">
		
		<!-- Scripts -->
	</head>

	<body>
		<div id="container2">
			<div id="header2">
				<header class="main header">
					<div class="container clearfix">
						<nav>
							<ul >
								<li><a class="link-logo " href="/"><img alt="KYA logo" src="images/kya-logo2.png"></a></li>
								<li class="header-title header-first"><a href="/#map-section">Map</a>
								<li class="header-title "><a href="/#stats-section">Statistics</a>
								<li class="header-title active" id="header-last"><a>About Us</a></li>
								<li class="header-title "><a href="https://projectkya.wordpress.com">Blog</a></li>
							</ul>
						</nav>
					</div>
				</header><!-- end header -->
			</div>
			
			<!-- - - - - - - Parallax Section 1 - - - - - - -->
				<section class="module parallax parallax-about">
					<div class="container clearfix">
						
					</div>
				</section>

			
			<div id="body2">
				<div class="container">
					<div class="clearfix">
						<p class="team-name">Christian D. Vázquez</p>
						<hr>
						<div class="left-photo-team">
							<img class="team-image" alt="Christian D. Vázquez" src="images/cvazquez.png">
						</div>
						<div class="right-description-team"><p class="team-text">An experienced full-stack Android developer. He has done research in the area of HCI, and worked with several wearable devices such as Google Glass and Android smartwatches. He’s lead teams in successful collaborations with MIT Lincoln Laboratory, and published work with MIT Media Lab.</p></div>
					</div>
					
					<div class="clearfix">
						<p class="team-name">Luis R. Escobar</p>
						<hr>
						<p class="team-text"><img class="team-image right-photo-team" alt="Luis R. Escobar" src="images/lescobar.png">A Project Manager with vast experience in agile development models such as Scrum. He has knowledge in the areas of Database Design, as well as Web Server Implementation. His previous experiences working in Microsoft have earned him a full-time position in the Skype team.</p>
						
					</div>
					

					
					<div class="clearfix">
						<p class="team-name">Christian O. Montes</p>
						<hr>
						<div class="left-photo-team">
							<img class="team-image" alt="Christian O. Montes" src="images/cmontes.png">
						</div>
						<div class="right-description-team " ><p class="team-text">Application Designer for Web environments and Object-Oriented Systems, experienced in programming languages such as HTML5, CSS, Java and Javascript. He has designed a number of high quality prototypes in the past as well, including Android mobile applications for micro- controller management.</p></div>
					</div>
					
					<div class="clearfix">
						<p class="team-name">Joel Corporan</p>
						<hr>
						
						<p class="team-text"><img class="team-image right-photo-team" alt="Joel Corporan" src="images/jcorporan.png">An experienced application developer in the areas of Network Security and Design. His research focuses on applications to identify information leakage in multimedia data transmissions and security performance algorithms, which he has been working on in conjunction with the Communication Assurance for Performance Group at Georgia Tech. He has developed several iOS and Android applications and implemented services for cross-platform web applications.</p>
						
					</div>
				</div>
			</div>
      		
			<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - FOOTER SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<div id="footer2">
				<footer class="main" style="position: absolute; left: 0; right: 0;">
					<div class="container clearfix" style=" position: relative;">
						<div id="footer-logo">
							<img alt="KYA logo" src="images/kya-logo-footer.png">
						</div>
						
						
						<div id="footer-the-team">
		
							<h4>KYA <em>Team</em></h4>
							<ul>
								<li>Christian D. Vazquez</li>
								<li>Luis R. Escobar</li>
								<li>Joel R. Corporan</li>
								<li>Christian O. Montes</li>
							</ul>
						</div>
						<div id="footer-about-us">
							<h4>More <em>Information</em></h4>
							<ul>
								<li><a href="/aboutus">About Us</a></li>
								<li><a href="https://projectkya.wordpress.com">Blog</a></li>
							</ul>
						</div>
						<div id="footer-hours">
		
						</div>
					</div>
					<div id="footer-copyright" class="container clearfix">
						<hr>
						<p>Copyright KYA &copy;2015. All rights reserved.</p>
					</div>
				</footer>
			</div>
		</div>
	</body>
	
</html>