<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
		<title>KYA</title>
		
		<!-- Google Fonts integration: http://www.google.com/fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
		
		<!-- Normalize to clean up & standardize the browser default styles: http://necolas.github.io/normalize.css -->
		<link rel="stylesheet" href="css/normalize.css">
		
		<!-- Custom CSS -->
		<link rel="stylesheet" href="../css/fonts.css">
		<link rel="stylesheet" href="../css/styles.css">
		<link rel="stylesheet" href="../css/parallax.css">
		
		<!-- Scripts -->
	</head>

	<body">
		<header class="main header">
			<div class="container clearfix">
				<nav>
					<ul >
						<li><a class="link-logo " href="index.html"><img alt="KYA logo" src="images/kya-logo2.png"></a></li>
						<li class="header-title header-first"><a href="#map-section">Map</a>
						<li class="header-title "><a href="index.html#stats-section">Statistics</a>
						<li class="header-title "><a href="https://projectkya.wordpress.com">Blog</a></li>
						<li class="header-title active" id="header-last"><a>Contact Us</a></li>
					</ul>
				</nav>
			</div>
		</header><!-- end header -->
		
		
		<div class="container">
		
		</div>
      		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - FOOTER SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<footer class="main" style="position: absolute; left: 0; right: 0;">
			<div class="container clearfix" style=" position: relative;">
				<div id="footer-logo">
					<img alt="KYA logo" src="images/kya-logo-footer.png">
				</div>
				
				
				<div id="footer-the-team">

					<h4>KYA <em>Team</em></h4>
					<ul>
						<li>Christian D. Vazquez</li>
						<li>Luis R. Escobar</li>
						<li>Joel R. Corporan</li>
						<li>Christian O. Montes</li>
					</ul>
				</div>
				<div id="footer-about-us">
					<h4>More <em>Information</em></h4>
					<ul>
						<li><a href="https://projectkya.wordpress.com">Blog</a></li>
						<li><a href="contactus.html">Contact Us</a></li>
					</ul>
				</div>
				<div id="footer-hours">

				</div>
			</div>
			<div id="footer-copyright" class="container clearfix">
				<hr>
				<p>Copyright KYA &copy;2015. All rights reserved.</p>
			</div>
		</footer>
		
	</body>
	
</html>