html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container2 {
   min-height:100%;
   position:relative;
}

#header2 {
}

#body2 {
	padding-top: 70px;
	padding-bottom:80px;   /* Height of the footer */
}
#footer2 {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

.team-name {
	font-size: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

hr {
	margin: 0px;
}

.left-photo-team {
	float: left;
}

p.right-description-team {
	float: left;
}

.right-team-text {
	text-align: justify;
	color: #333;
}

div.left-photo-team {
	width: 150px;
	height: 150px;
	float: left;
	margin-top: 10px;
	margin-right: 20px;
	background: #555 url('../images/divider.png') center center no-repeat;
}